@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.ProfileLinks {
  @include card-template-1;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.8rem;
  text-align: left;
  .icon {
    color: $color-icon;
    margin-right: 0.6rem;
    font-size: 40px;
  }
  article {
    display: flex;
    align-items: center;
  }
  h3 {
    margin: 0.5rem 0;
  }
  a {
    text-align: center;
    width: 100%;
    margin: 0.3rem 0;
    padding: 0.5rem 0.4rem;
    border-radius: 3px;
    border: 1px solid $color-dark;
    color: $font-dark;
    &:hover {
      cursor: pointer;
    }
  }
}
