@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.CatalogPage {
  .catalog-content {
    @include background-pattern-one;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.7rem;
    margin: 0 auto;
    min-height: 100vh;
    width: 90%;
    max-width: $max-width;
    padding: 1.5rem 0;
  }
  .courses,
  .latest-course,
  .author-options,
  .coding-challenges,
  .qa-section {
    @include card-template-1;
  }
  .courses {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    margin: 0 auto;
    display: flex;
    border: 1px solid black;
    width: 100%;
  }
  .latest-course {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border: 1px solid red;
    .latest-course-details {
      grid-column: 1 / 3;
      grid-row: 1 / 4;
      border: 1px solid black;
    }
    .latest-course-resume {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
      border: 1px solid black;
    }
    .latest-course-percentage {
      grid-column: 2 / 3;
      grid-row: 4 / 5;
      border: 1px solid black;
    }
  }
  .author-options {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
    border: 1px solid blue;
  }
  .coding-challenges {
    grid-column: 1 / 3;
    grid-row: 3 / 6;
    border: 1px solid blue;
  }
  .qa-section {
    grid-column: 3 / 5;
    grid-row: 4 / 6;
    border: 1px solid black;
  }
}
