@import "../../../styles/mixins.scss";

@mixin course-badge-template {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 5.5rem;
  width: 5.5rem;
  padding: 0.4rem;
  margin: 1.5rem 0.5rem;
  border: 1px solid $background-dark;
  border-radius: 3px;
  background-color: $color-light;
  h4 {
    margin: 0;
  }
  &:hover {
    cursor: pointer;
  }
}

.practice-badge {
  @include course-badge-template;
  background-color: $color-light;
  background-color: $accent-4-very-light;
  border: 1px solid $accent-3-dark;
  border-bottom: 4px solid $accent-3-dark;
  color: $accent-3-font;
}

.test-badge {
  @include course-badge-template;
  height: 3rem;
  width: 15rem;
  margin: 1rem;
  border: 1px solid $border-light;
  border-bottom: 4px solid $border-light;
  background-color: $background-dark;
  color: $color-light;
}

.lesson-badge {
  @include course-badge-template;
  background-color: $color-light;
  background-color: $accent-4-very-light;
  border: 1px solid $border-dark;
  border-bottom: 4px solid $border-dark;
}

.project-badge {
  @include course-badge-template;
  background-color: $accent-2;
  border: 1px solid $accent-2-dark;
  border-bottom: 4px solid $accent-2-dark;
  height: 3rem;
  width: 10rem;
  padding: 0.4rem;
  margin: 1rem;
  color: $color-light;
}

.challenge-badge {
  @include course-badge-template;
  background-color: $accent-3;
  border: 1px solid $accent-3-dark;
  border-bottom: 4px solid $accent-3-dark;
  height: 3rem;
  width: 12rem;
  padding: 0.4rem;
  margin: 1rem;
  color: $font-light;
}
