@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.ProfileBio {
  @include card-template-1;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  text-align: left;
  .overview {
    @include background-dark;
    @include header-block;
  }
  .body {
    padding: 0.8rem;
  }
  .icon {
    color: $color-icon;
    margin-right: 0.3rem;
  }
  .location {
    display: flex;
  }
  h2 {
    padding: 0.2rem 0 0.4rem 0;
  }
  h2,
  h4 {
    margin: 0;
  }
  p {
    margin: 0;
    margin-bottom: 1rem;
  }
  a {
    color: $font-dark;
  }
}
