@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.CoursePage {
  .course-page-content {
    @include background-pattern-1;
    @include page-template-1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: $grid-gap-1;
  }
  .course-overview {
    @include card-template-1;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    border: 1px solid $background-dark;
    // background-color: $accent-1;
  }
  .course-section {
    @include card-template-1;
    margin: 0 auto;
    width: 80%;
    border: 1px solid $font-dark;
    background-color: $color-light;
  }
  .main-title {
    @include background-dark;
    margin: 0;
    padding: 2rem;
  }
  .chapter-title {
    text-decoration: underline;
  }
  .chapter-container {
    @include background-pattern-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 5px solid rgb(165, 165, 165);
  }
  .sub-chapter-level {
    @include card-template-1;
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid $font-dark;
  }
  .sibling-topics {
    display: flex;
    border: 1px solid $font-dark;
    border-radius: 15px;
    padding: 0 0.5rem;
    margin: 0 0.5rem;
  }
  .sticky-wrapper {
    position: sticky;
    top: 4.2rem;
  }
}
