@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.CoursePage {
  .course-page-content {
    @include background-pattern-1;
    @include page-template-1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: $grid-gap-1;
  }
  .sticky-wrapper {
    position: sticky;
    top: 4.2rem;
  }
}
