@import "../../styles/mixins.scss";

.ProfilePicture {
  @include card-template-1;
  border-radius: 0;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  .image-container {
    // height: 40vh;
  }
  .text-tag {
    overflow: hidden;
    max-width: 100%;
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
