@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.DashboardPage {
  .dashboard-content {
    @include page-template-1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: $grid-gap-1;
  }
  .courses-overview,
  .latest-course,
  .author-options,
  .coding-challenges,
  .qa-section {
    @include card-template-1;
  }
  .courses-overview {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    .courses {
      display: flex;
      margin: 0 auto;
    }
    a {
      border: 1px solid red;
      padding: 0.5rem;
    }
  }
  .latest-course {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border: 1px solid red;
    border-radius: 0;
    .latest-course-details {
      grid-column: 1 / 3;
      grid-row: 1 / 4;
      border: 1px solid black;
      padding: 1rem;
    }
    .course-stats {
      display: flex;
      justify-content: space-between;
      h4 {
        margin: 0;
      }
      p {
        margin: 0.2rem;
      }
    }
    .progress-circle {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 12px solid $accent-4-light;
      border-radius: 50%;
      min-height: 8rem;
      min-width: 8rem;
    }
    .progress-fractions {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      text-align: end;
    }
    .latest-course-resume {
      @include btn-template-1;
      grid-column: 1 / 3;
      grid-row: 4 / 5;
      height: 100%;
      border-radius: 0;
    }
  }
  .author-options {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
    border: 1px solid blue;
  }
  .coding-challenges {
    grid-column: 1 / 3;
    grid-row: 3 / 6;
    display: flex;
    border: 1px solid blue;
    .challenges {
      display: flex;
      flex-direction: column;
      width: 60%;
      padding: 0.1rem 0.5rem;
    }
    .current-details {
      @include card-template-1;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      margin: 0.5rem auto;
      width: 100%;
      height: 85%;
    }
    button {
      margin: 0.2rem auto;
    }
    .challenges-support {
      border: 1px solid red;
      margin: 0.5rem auto;
      width: 40%;
      .challenge-stats {
        border: 1px solid green;
        // height: 50%;
      }
    }
    .support-panel {
      border: 1px solid red;
      display: flex;
      flex-direction: column;
      // height: 50%;
    }
  }
  .qa-section {
    grid-column: 3 / 5;
    grid-row: 4 / 6;
    border: 1px solid black;
  }
}
