@import "../../../styles/mixins.scss";

.ProfileCompleted {
  @include card-template-1-flat;
  grid-column: 4 / 5;
  grid-row: 1 / 7;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

// Small devices (landscape phones, 800px and up)
@media (min-width: 320px) {
  .ProfileCompleted {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    border-radius: 0;
    header {
      @include background-dark;
      @include header-block;
    }
  }
}

@media (min-width: 768px) {
  .ProfileCompleted {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    header {
      @include background-dark;
      @include header-block;
    }
  }
}
