@import "./variables.scss";

@mixin card-template-1 {
  border: 1px solid $color-dark;
  border-radius: 5px;
  box-shadow: 1px 1px 3px $color-dark;
}

@mixin card-template-1-flat {
  border: 1px solid $color-dark;
  border-radius: 5px;
}

@mixin background-dark {
  color: $background-dark-font;
  background-color: $background-dark;
}
