$color-dark: rgb(114, 114, 114);
$font-dark: rgb(29, 29, 29);
$background-dark: rgb(46, 46, 46);
$background-dark-font: rgb(235, 235, 235);
$background-dark-icon: rgb(224, 224, 224);
$color-icon: rgb(71, 71, 71);
