//generic
$color-dark: rgb(114, 114, 114);
$color-light: white;
$font-light: white;
$font-dark: rgb(29, 29, 29);
$font-grey: rgb(97, 97, 97);
$color-icon: rgb(71, 71, 71);
$border-dark: rgb(43, 43, 43);
$border-light: rgb(170, 170, 170);

// Background related variables
$background-dark: rgba(41, 41, 41, 1);
$background-dark-font: rgb(238, 238, 238);
$background-dark-icon: rgb(236, 236, 236);
$background-pattern: rgb(216, 216, 216);

// accents
$accent-1: lightcoral;
$accent-1-dark: rgb(211, 102, 102);
$accent-2: #42ebaa;
$accent-2-dark: #289e71;
$accent-3: #ffc107;
$accent-3-dark: #ffa000;

// positioning
$max-width: 1400px;
$grid-gap-1: 0.7rem;
$font-title: "Pacifico", cursive;
$font-body: "Roboto", sans-serif;
