$color-dark: rgb(114, 114, 114);
$color-light: white;
$font-dark: rgb(29, 29, 29);
$background-dark: rgb(41, 41, 41);
$background-dark-font: rgb(238, 238, 238);
$background-dark-icon: rgb(236, 236, 236);
$background-pattern: rgb(216, 216, 216);
$color-icon: rgb(71, 71, 71);
$accent-one: lightcoral;
$accent-one-dark: rgb(211, 102, 102);
$max-width: 1400px;
