@import "../../../styles/variables.scss";

.PointsMarker {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $accent-one-dark;
  background-color: $accent-one;
  box-shadow: 1px 1px 5px $background-dark;
  color: $color-light;
  border-radius: 15px;
  padding: 0 8px;
  height: 25px;
}
