.UserProfile {
  border: 1px solid red;
  .profile-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 0.8rem;
    padding: 0.8rem 5rem;
    min-height: 95vh;
  }
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
  height: 5vh;
  h3 {
    margin: 0px;
    padding: 0px;
  }
}
