.UserProfile {
  border: 1px solid red;
  min-height: 100vh;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
  h3 {
    margin: 0px;
    padding: 0px;
  }
}
