@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.ProfileFeed {
  @include card-template-1;
  grid-column: 2 / 4;
  grid-row: 3 / 7;
  header {
    @include background-dark;
    @include header-block;
  }
}
