@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.ProfileFeed {
  @include card-template-1;
  grid-column: 2 / 4;
  grid-row: 3 / 7;
  header {
    @include background-dark;
    @include header-block;
  }
}

// Small devices (landscape phones, 800px and up)
@media (min-width: 320px) {
  .ProfileFeed {
    display: none;
  }
}

@media (min-width: 768px) {
}
