@import "../../../styles/variables.scss";

.RankMarker {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $accent-1-dark;
  background-color: $accent-1;
  box-shadow: 1px 1px 5px $background-dark;
  color: $color-light;
  padding: 10px;
  height: 25px;
}
