@import "../../styles/mixins.scss";

.NavBar {
  @include background-dark;
  display: flex;
  padding: 0;
  position: sticky;
  top: 0px;
  z-index: 5;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
  }
  h2 {
    margin: 0px;
    padding: 0.5rem 0;
  }
  button {
    border: none;
    width: 5rem;
    height: 1.7rem;
  }
  a {
    color: $background-dark-font;
    text-decoration: none;
    padding: 1rem;
  }
}

@media (min-width: 320px) {
  .NavBar {
    .content {
      flex-direction: column;
      width: 100%;
    }
    h2 {
      padding: 0.4rem 0 0.6rem 0;
      font-size: 26px;
    }
    section {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      border-bottom: 1px solid white;
    }
    a {
      font-size: 14px;
      padding: 0.3rem;
    }
  }
}

@media (min-width: 480px) {
  .NavBar {
    .content {
      flex-direction: row;
      width: 90%;
    }
    section {
      width: 60%;
      border-bottom: none;
    }
  }
}

@media (min-width: 876px) {
  .NavBar {
    .content {
      max-width: $max-width;
    }
    h2 {
      padding: 0.4rem 0 0.6rem 0;
      font-size: 26px;
    }
    section {
      justify-content: space-between;
      align-items: center;
      width: 40%;
    }
    a {
      font-size: 16px;
      padding: 0.3rem;
    }
  }
}
