@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.ProfileStats {
  @include card-template-1;
  display: flex;
  overflow: hidden;
}

.streak-tracker {
  @include background-dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  div:first-of-type {
    border-top: 1px solid $color-dark;
    border-bottom: 1px solid $color-dark;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 50%;
  }
  h4 {
    margin: 0;
  }
  p {
    font-size: 26px;
    margin: 0.5rem;
  }
}

.achievements {
  width: 70%;
}

// Small devices (landscape phones, 876px and up)
@media (min-width: 320px) {
  .ProfileStats {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: flex;
    overflow: hidden;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    h2 {
      font-size: 16px;
    }
    h4 {
      font-size: 14px;
    }
    p {
      font-size: 16px;
    }
  }
}

@media (min-width: 480px) {
  .ProfileStats {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
  }

  .streak-tracker {
    h4 {
      margin: 0;
    }
    p {
      font-size: 26px;
      margin: 0.5rem;
    }
  }
}

@media (min-width: 876px) {
  .ProfileStats {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }

  .streak-tracker {
    h4 {
      margin: 0;
    }
    p {
      font-size: 26px;
      margin: 0.5rem;
    }
  }
}

@media (min-width: 1200px) {
  .ProfileStats {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }

  .streak-tracker {
    h4 {
      margin: 0;
    }
    p {
      font-size: 26px;
      margin: 0.5rem;
    }
  }
}
