@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.ProfileStats {
  @include card-template-1;
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  display: flex;
  overflow: hidden;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.streak-tracker {
  @include background-dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  div:first-of-type {
    border-top: 1px solid $color-dark;
    border-bottom: 1px solid $color-dark;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 50%;
  }
  h4 {
    margin: 0;
  }
  p {
    font-size: 26px;
    margin: 0.5rem;
  }
}

.achievements {
  width: 70%;
}
