@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.CourseCard {
	@include card-template-1;
	cursor: pointer;
	border-radius: 4px;
	height: 15rem;
	width: 6rem;
	min-width: 10rem;
	margin: 0.5rem;
	padding: 0.5rem;
	transition: .2s transform ease-in-out;
	&:hover {
		transform: scale(1.03);
	}
	.card-interior {
		display: grid;
		grid-template-columns: 1fr, 1fr;
		grid-template-rows: 4fr 1fr;
		background-color: $accent-4-light;
		height: 100%;
	}
	.card-details {
		grid-row: 1 / 3;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 4fr 1fr;
		align-items: center;
	}
	.icon {
		color: $color-icon;
	}
	.card-stats {
		grid-row: 3 / 4;
		display: flex;
		justify-content: space-between;
		border-top: 2px solid $color-light;
		div {
			display: flex;
			align-items: center;
			padding: 0 0.5rem;
		}
		p {
			margin: 0;
			padding: 0.5rem 0.4rem;
		}
	}
}
